<html>

<body>
<h1>Hello</h1>



Categorie : {{ categorie.title  }} </br>

Description : {{ categorie.description }}</br>

Nombre de caracteres :  {{ categorie.description|striptags|length  }}</br>

Date : {{ categorie.date_created |date("m/d/Y") }}

</body>
</html>



