{% extends "TroiswaBackBundle::layout.html.twig" %}


{% block title %}Contact{% endblock %}
{% block content %}



    <p> nouveau contenu</p>
    {{ parent() }}
    {{ form(formContact) }}



{% endblock %}

{% block sidebar  %}

{% endblock %}