<!DOCTYPE html>

<html>

<head>
        <title>{%  block title %}|admin {% endblock %}</title>


</head>

<body>
{% block content %}
        Test
{% endblock %}



{% block sidebar  %}
        <div>
                <ul>
                        <li>Categorie 1</li>
                        <li>Categorie 2</li>
                </ul>

        </div>

{% endblock %}

</body>

</html>